@page
@model CapstoneCustomerRelationsSystem.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Capstone Change Password";
}
@section styles {
    <link rel="stylesheet" href="~/styles/user-account-styles.css">
}
@section scripts {

}
@section GreetingContainer {
    <div id="GreetingContainer">
    </div>
}
@section NotificationMessages {
    <div id="NotificationMessages" class="notification-messages">
        @if (Model.InfoMessage.Length > 0) {
            <strong class="info-message">@Model.InfoMessage</strong>
        }
        @if (Model.WarningMessage.Length > 0) {
            <strong class="warning-message">@Model.WarningMessage</strong>
        }
        @if (Model.DangerMessage.Length > 0) {
            <strong class="danger-message">@Model.DangerMessage</strong>
        }
    </div>
}
<h1>@ViewData["Title"]</h1>
<form name="ChangePasswordForm" id="CreatePasswordForm" class="change-password-form" method="POST">
    <div class="container">
    <section>
        <h2>Account Information</h2>
        <label for="Password">Password:</label>
        <input type="password" name="Password" placeholder="Password..." title="Password" value="@Model.Password">
        <span class="error-message">@Html.ValidationMessage("Password")</span>
        <label for="Password">Confirm Password:</label>
        <input type="password" name="ConfirmPassword" placeholder="Confirm Password..." title="Confirm Password" value="@Model.ConfirmPassword">
        <span class="error-message">@Html.ValidationMessage("ConfirmPassword")</span>
    </section>
    </div>
    <div class="flex-right">
        <button type="submit" name="Submit" value="UpdatePassword">Update Password</button>
    </div>
</form>